@import url("https://fonts.googleapis.com/css?family=Inria+Serif:400,700|Open+Sans:400,700&display=swap");

html {
  font-size: 14px;
}
body, .container {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inria Serif", serif;
}